._*
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.bundle
.byebug_history
.cap_tasks*
.codeintel/
.dockergitignore
.DS_Store
.elasticbeanstalk/
.env*
.git
.gitignore
.idea
.LSOverride
.powenv
.rake_tasks*
.rbenv-gemsets
.rspec
.rubocop_todo.yml
.rubocop.yml
.ruby-version
.rvmrc
.Spotlight-V100
.Trashes
.vagrant
.yardoc
*.bowerrc
*.db
*.dev
*.development
*.iml
*.pdf
*.rbc
*.vscode
**.orig
*~
*idea
#*#
bower.json
capybara-*.html
coreos
coverage
db/*.sqlite3
db/*.sqlite3-journal
docker-build-compose.yml
docker-compose.yml
docker-compose.build.yml
Gaurdfile
Icon
log
node_modules
pickle-email-*.html
public/assets
public/system
public/uploads
railways.cache
README.md
rerun.txt
spec/tmp
style-guide.md
Temporary Items
test
tmp
TODO.md
vendor/bundle
vendor/cache
vendor/ruby
buildspec.yml
Rockerfile
Dockerfile
