!/log/.keep
!/tmp/.keep
.byebug_history
.elasticbeanstalk/*
.env.development
.env.local
.env.production
.env.staging
.idea/
.rake_tasks
.rspec
.yarn-integrity
*.rbc
**.orig
/.bundle
/bin
/coverage/
/db/*.sqlite3
/db/*.sqlite3-journal
/log
/node_modules
/public/assets
/public/packs
/public/packs-test
/public/system
/public/uploads
/spec/tmp
/tmp
/tmp/*
/vendor/bundle
/yarn-error.log
capybara-*.html
db/backups/%
pickle-email-*.html
rerun.txt
yarn-debug.log*
